* {
  box-sizing: border-box;
}

html,
body,
#rmst-root {
  height: 100%;
  margin: 0;
  font-size: 14px;
}

html {
  --body-bg: #fff;

  &.light {
    --body-bg: #fff;

    .light-icon {
      display: none;
    }
  }

  &.dark {
    --body-bg: #2b2b2b;
    color: #fff;

    .dark-icon {
      display: none;
    }
  }
}

body {
  background-color: var(--body-bg);
}

.site-header {
  background-color: var(--body-bg);

  a {
    padding: 0 4px;

    &:hover {
      background-color: #f6f6f6;
    }
  }
}

hr {
  border-color: #eaeaea;
}

.aside {
  flex-shrink: 0;
  border-right: 1px solid #ccc;
  left: 0;
  transition: margin-left 0.2s;

  .content {
    padding-left: 12px;
    padding-bottom: 16px;
  }

  a {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    padding-left: 14px;

    &:hover:not(.active) {
      background-color: #f6f6f6;
    }
  }

  .active {
    background-color: #f2f3ff;
    color: #0052d9;
  }
}

.side-menu-expand-btn {
  position: fixed;
  bottom: 12px;
}

.header-link-active {
  background-color: #f2f3ff;
  color: #0052d9;
}
