@import '../../style/var.less';
@switch-prefix-cls: ~'@{prefixCls}-switch';

.rmst-switch {
  display: inline-block;
  box-sizing: border-box;
  background-color: #C9CDD4;
  border-radius: 99px;
  border: none;
  position: relative;
  cursor: pointer;
  .propertyTransition(background-color);

  .switch-dot {
    position: absolute;
    background: #FFFFFF;
    border-radius: 99px;
    .propertyTransition(left);
  }

  .switch-text {
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
    overflow: hidden;
    color: #fff;
    .propertyTransition(padding-left, padding-right);
    user-select: none;
  }

  &:hover {
    background-color: #B7B7B7;
  }

  &.checked {
    background-color: @main-color;

    &:hover {
      background-color: #366EF4;
    }
  }

  &:focus-visible {
    outline: 1px solid #91CAFF;
  }

  &.disabled {
    cursor: not-allowed;
    background-color: #E5E6EB;

    &.checked {
      background-color: #94BFFF;
    }
  }
}

.switch-size(small);
.switch-size(default);
.switch-size(large);

.switch-size(@size) {
  .@{switch-prefix-cls}-size-@{size} {
    @current: @switchSizeMap[@@size];
    @dotSize: @current[height] - @current[dot-padding] * 2;
    @padding: 6px;
    // 
    min-width: @current[width];
    height: @current[height];
    font-size: @current[font-size];

    .switch-dot {
      height: @dotSize;
      width: @dotSize;
      top: @current[dot-padding];
      left: @current[dot-padding];
    }

    .switch-text {
      line-height: @current[height];
      padding-left: @dotSize + @padding;
      padding-right: @padding;
    }

    &.checked {
      .switch-dot {
        left: calc(100% - @dotSize - @current[dot-padding]);
      }

      .switch-text {
        padding-left: @padding;
        padding-right: @dotSize + @padding
      }
    }
  }
}

@switchSizeMap: {
  @small: {
    width: 26px;
    height: 16px;
    font-size: 10px;
    dot-padding: 2px;
  }

  @default: {
    width: 42px;
    height: 24px;
    font-size: 14px;
    dot-padding: 3px;
  }

  @large: {
    width: 46px;
    height: 30px;
    font-size: 16px;
    dot-padding: 4px;
  }
}