@prefixCls: rmst;
@main-color: #175cff;
//
@input-hover-border-color: #40a9ff;
@input-focus-border-color: #096dd9;
@input-readonly-background-color: #fafafa;
@input-disabled-background-color: #f5f5f5;

@input-disabled-color: #afafaf;

.propertyTransition(...) {
  @value: ~`"@{arguments}" .replace(/[\[\]]|\,\sX/g, '')`; // https://stackoverflow.com/questions/11419741/less-css-mixins-with-variable-number-of-arguments
  transition-duration: .15s;
  transition-property: @value;
}

@sizeMap: {
  @small: {
    height: 28px;
    font-size: 14px;
  }

  @default: {
    height: 32px;
    font-size: 14px;
  }

  @large: {
    height: 36px;
    font-size: 18px;
  }
}