.Gta6-V2 {
  overflow-x: auto;
  background-color: #2a2a2a;

  .playground-1 {
  }

  .banner-container {
    mask-repeat: no-repeat;
    // mask-position: center 210px;
    // mask-origin: content-box;

    .banner-inner {
      position: relative;

      .logo-head,
      .first-banner {
        max-width: unset;
        width: 100%;
        height: 100%;
      }
    }
  }
  .fs-text {
    -webkit-text-fill-color: transparent;
  }
}

.test-bg {
  --bg-size: 40%;
  background-position-x: 50%;
  mask-image: radial-gradient(circle at 50% 121.315%, rgb(0, 0, 0) 52.4567%, rgba(0, 0, 0, 0) 76.2283%);
  opacity: 1;
  background-repeat: no-repeat;
  background-position: 47% var(--bg-size);
  background-size: var(--bg-size) auto;
  background-origin: content-box;
}

.gs-dev-tools {
  z-index: 999;
}
