.Gta6-V2 {
  .panel__number {
    font-size: 144px;
  }
}

.panel.pinned {
  opacity: 0;
  visibility: hidden;
}

.description {
  height: 100vh;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.panel {
  height: 100vh;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.end-pin {
  position: relative;
  background-color: pink;
}

.Gta6-V2 {
  overflow-x: auto;
  background-color: #2a2a2a;

  .banner-container {
    background-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center 15vh;
    position: sticky;
    top: 0;

    .banner-inner {
      position: relative;
      height: 130vh;

      .logo-head,
      .first-banner {
        max-width: unset;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.test-bg {
  --bg-size: 40%;
  background-position-x: 50%;
  mask-image: radial-gradient(circle at 50% 121.315%, rgb(0, 0, 0) 52.4567%, rgba(0, 0, 0, 0) 76.2283%);
  opacity: 1;
  background-repeat: no-repeat;
  background-position: 47% var(--bg-size);
  background-size: var(--bg-size) auto;
  background-origin: content-box;
}
