* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.aside {
  flex-shrink: 0;
  height: 100vh;
  width: 180px;
  border-right: 1px solid #ccc;
  position: sticky;
  top: 0;
  transition: margin-left 0.2s;

  .rmst-scrollbar-view {
    padding-left: 12px;
    padding-bottom: 16px;
  }

  a {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    padding-left: 14px;

    &:hover:not(.active) {
      background-color: #f3f3f3;
    }
  }

  .active {
    background-color: #f2f3ff;
    color: #0052d9;
  }
}
