@import '../../style/var.less';
// 
@input-prefix-cls: ~'@{prefixCls}-input';

.@{input-prefix-cls} {
  width: 100%;
  display: inline-flex;
  overflow: hidden;

  .input-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0 8px;
  }

  .rmst-native-input {
    width: 100%;
    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;

    &::placeholder {
      color: rgba(0, 0, 0, 0.4);
    }
  }

  .clear {
    font-size: 12px;
    visibility: hidden;
  }

  &:hover {
    .clear {
      visibility: visible;
    }
  }

  .after {
    font-size: 14px;
    border-left: 1px solid #bcbcbc;
    padding: 0 8px;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    flex-shrink: 0;
  }

  .interact()
}

.input-size(@size) {
  .@{input-prefix-cls}-size-@{size} {
    height: @sizeMap[@@size][height];
    line-height: @sizeMap[@@size][height];
    font-size: @sizeMap[@@size][font-size];
  }
}

.input-size(small);
.input-size(default);
.input-size(large);