.rt-ld-layout {
  position: relative;
  height: 500px;
  display: flex;

  & > * {
    flex-shrink: 0;
    flex-grow: 1;
  }

  .node-item {
    display: flex;
    gap: 10px;
    border: 1px solid #ebebeb;

    & > * {
      flex-basis: 0;
      flex-shrink: 0;
      flex-grow: 1;
    }
  }

  .tabs {
    display: flex;
    flex-direction: column;
    border: 1px solid #ebebeb;

    .tab-header {
      height: 32px;
      display: flex;
      gap: 8px;
      padding: 0 8px;
      border-bottom: 1px solid #ebebeb;

      .tab-item {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0 16px;
        border-bottom: 1px solid transparent;
        cursor: pointer;

        &.selected {
          color: blue;
          border-bottom: 1px solid blue;
        }
      }
    }

    .tab-content {
      padding: 8px;
      flex-grow: 1;
      position: relative;

      .indicator {
        --size: 40px;
        position: absolute;
        width: var(--size);
        height: var(--size);
        border: 1px solid #c0c0c0;

        &.over {
          background-color: blue;
        }

        &.top {
          top: 0;
          left: calc(50% - var(--size) / 2);
        }

        &.right {
          right: 0;
          top: calc(50% - var(--size) / 2);
        }

        &.bottom {
          bottom: 0;
          left: calc(50% - var(--size) / 2);
        }

        &.left {
          top: calc(50% - var(--size) / 2);
          left: 0;
        }
      }
    }
  }
}