.rt-ld-layout {
  height: 600px;
  border: 1px solid #ccc;
  display: flex;
  gap: 10px;
  flex-direction: column;

  .ghost {
    border: 1px dashed blue;
    position: fixed;
    transition: all 0.1s linear;
    background-color: fade(blue, 10%);
    pointer-events: none;
  }

  & > * {
    flex: 1;
  }

  .flex {
    display: flex;
    gap: 10px;

    & > * {
      flex: 1;
    }
  }

  .flex-column {
    flex-direction: column;
  }

  .tabset {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
  }

  .tab-header {
    display: flex;
    gap: 20px;
    overflow: auto;
    border-bottom: 1px solid #ccc;

    .tab-item {
      border: 1px solid #ccc;
      padding: 10px;
      cursor: pointer;
    }

    .tab-item-active {
      background-color: pink;
      color: white;
    }
  }

  .outlet {
    padding: 10px;
    flex: 1;
  }
}