.rt-ld-layout {
  position: relative;
  height: 500px;
  display: flex;

  .source-indicator {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2px 4px;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    background-color: #fff;
    pointer-events: none;
    transform: translate(-50%, 10px);
  }

  .over-indicator-rect {
    position: fixed;
    background-color: #4444ff31;
    pointer-events: none;
    border: 1px solid #7474ff;
    transition: all 0.2s ease-in-out;
  }

  & > * {
    flex-shrink: 0;
    flex-grow: 1;
  }

  .node-item {
    display: flex;
    overflow: hidden;

    &.node-item-root {
      position: relative;

      .root-indicator {
        --indicator-size: 200px;
        --jx-size: 6px;
        --border-radius-size: 99px;
        pointer-events: none;
        position: absolute;
        background-color: #5e7eff;

        &.top {
          width: var(--indicator-size);
          height: var(--jx-size);
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);
          border-radius: 0 0 var(--border-radius-size) var(--border-radius-size);
        }

        &.right {
          width: var(--jx-size);
          height: var(--indicator-size);
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
          border-radius: var(--border-radius-size) 0 0 var(--border-radius-size);
        }

        &.bottom {
          width: var(--indicator-size);
          height: var(--jx-size);
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 0);
          border-radius: var(--border-radius-size) var(--border-radius-size) 0 0;
        }

        &.left {
          width: var(--jx-size);
          height: var(--indicator-size);
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          border-radius: 0 var(--border-radius-size) var(--border-radius-size) 0;
        }
      }
    }

    &.column {
      flex-direction: column;

      & > .node-item-divider {
        flex-direction: column;
      }
    }

    & > * {
      flex-basis: 0;
      flex-shrink: 0;
    }
  }

  .node-item-divider {
    flex-basis: 8px;
    flex-shrink: 0;
    flex-grow: 0;
    cursor: move;
    user-select: none;
    display: flex;
    justify-content: center;

    .line {
      flex-basis: 2px;
    }

    &:hover {
      .line {
        background-color: #3575e5;
      }
    }
  }

  .tabs {
    display: flex;
    flex-direction: column;
    border: 1px solid #ebebeb;
    overflow: hidden;

    .tab-header {
      height: 32px;
      display: flex;
      padding: 0 2px;
      background-color: #fafafa;
      flex-shrink: 0;

      .tab-list-container {
        display: flex;
        gap: 1px;

        .tab-item {
          position: relative;
          display: flex;
          align-items: center;
          border-radius: 2px;

          &:hover {
            background-color: #f5f5f5;
          }

          .tab-item-content {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 0 8px;
            border-bottom: 2px solid transparent;
            cursor: pointer;

            &.selected {
              color: #5771da;
              border-bottom-color: #7590ff;
            }
          }
        }

        .split-line {
          height: 1em;
          width: 1px;
          background-color: rgba(0, 0, 0, 0.08);
          align-self: center;
        }
      }

      .drag-handle {
        flex-grow: 1;
        align-self: stretch;
      }
    }

    .tab-content {
      padding: 8px;
      flex-grow: 1;
      position: relative;
    }
  }

  .portal-container {
    flex-grow: 0;
    width: 0;
    height: 0;
  }

  .portal-item {
    position: absolute;
    left: 0;
    overflow: clip;
  }

  .indicator {
    --size: 40px;
    position: absolute;
    width: var(--size);
    height: var(--size);
    border: 1px solid #c0c0c0;

    &.over {
      background-color: #9393ff;
    }

    &.top {
      top: 0;
      left: calc(50% - var(--size) / 2);
    }

    &.right {
      right: 0;
      top: calc(50% - var(--size) / 2);
    }

    &.bottom {
      bottom: 0;
      left: calc(50% - var(--size) / 2);
    }

    &.left {
      top: calc(50% - var(--size) / 2);
      left: 0;
    }
  }
}